# created by virtualenv automatically
__*
.idea/
Lib/
Scripts/
pyvenv.cfg
999-*
Cred*
test*
startup.sh
update.sh
analyze.py

*
!app.py
!db.py
!funcs.py
!jhmail.py
!required.txt
!logs/
!templates/
!static/
!data/
