<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert</title>
</head>
<body>
<form method="post" action="/insert/submit">
  <input type="text" name="id" value="{{input_id}}" />
  <input type="text" name="name" value="{{input_name}}" />
  <input type="submit" name="submit" value="insert" />
  <input type="submit" name="submit" value="delete" />
</form>
<table class="table">
    <tr class="tableHeader">
        <th>ID</th>
        <th>Name</th>
    </tr>
    {% for row in contents%}
    <tr class="tableRow">
        {% for cell in row %}
        <td class="tableCell">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>