<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place Order</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<form method="post" action="/stock/order">
  <p>
      股票代碼: <input type="text" name="id" />
      股數: <input type="text" name="shares" />
      價格: <input type="text" name="price" />
  <input type="submit" name="submit" value="buy" />
  <input type="submit" name="submit" value="sell" />
  </p>
<p>
    <table class="table">
    <tr class="tableHeader">
    {% for i in tHeader %}
        <th class="tableCell"> {{ i }} </th>
    {% endfor %}
    </tr>
    {% for row in contents%}
    <tr class="tableRow">
        {% for cell in row %}
        <td class="tableCell">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</p>
</form>
</body>
</html>