<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raw Data</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<form method="post" action="/jh/stock/rawdata/query">
  <p>
      股票代碼: <input type="text" name="id" />
      超日: <input type="date" name="startDate" />
      迄日: <input type="date" name="endDate" />
  <input type="submit" name="submit" value="Search!" />
  </p>
</form>
<table class="table">
    <tr class="tableHeader">
    {% for i in tHeader %}
        <th class="tableCell"> {{ i }} </th>
    {% endfor %}
    </tr>
    {% for row in contents%}
    <tr class="tableRow">
        {% for cell in row %}
        <td class="tableCell">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>